EntityFrameworkDBF/Service References/ServiceReference1/SmartWebService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8085/SmartWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmartServiceModel" />
  <xs:element name="ActivateCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SmartServiceModel" minOccurs="0" name="cardDetails" nillable="true" type="q1:CardDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SmartServiceModel" minOccurs="0" name="ActivateCardResult" nillable="true" type="q2:CardStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SmartServiceModel" minOccurs="0" name="cardDetails" nillable="true" type="q3:CardDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SmartServiceModel" minOccurs="0" name="DeactivateCardResult" nillable="true" type="q4:CardStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SmartServiceModel" minOccurs="0" name="cardDetails" nillable="true" type="q5:CardDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SmartServiceModel" minOccurs="0" name="UpdateCardResult" nillable="true" type="q6:CardStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownLoadTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CardNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ControllerNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownLoadTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SmartServiceModel" minOccurs="0" name="DownLoadTemplateResult" nillable="true" type="q7:ArrayOfTemplateStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CardNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ControllerNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SmartServiceModel" minOccurs="0" name="UploadTemplateResult" nillable="true" type="q8:ArrayOfTemplateStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUploadedTemplateStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CardNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ControllerNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUploadedTemplateStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SmartServiceModel" minOccurs="0" name="CheckUploadedTemplateStatusResult" nillable="true" type="q9:TemplateStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckDownloadTemplateStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CardNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ControllerNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckDownloadTemplateStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SmartServiceModel" minOccurs="0" name="CheckDownloadTemplateStatusResult" nillable="true" type="q10:TemplateStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CardNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SmartServiceModel" minOccurs="0" name="GetCardHistoryResult" nillable="true" type="q11:ArrayOfDeviceActivateCardClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnrollFinger">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CardNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ControllerNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnrollFingerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SmartServiceModel" minOccurs="0" name="EnrollFingerResult" type="q12:Enroll_Error_Code" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TrxPointer" type="xs:int" />
        <xs:element minOccurs="0" name="TrxCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SmartServiceModel" minOccurs="0" name="GetTransactionResult" nillable="true" type="q13:ArrayOfTransactionTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>